{% extends 'base.html' %}
{% block body %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
</div>
{% endfor %}

{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="uName">Username:</label><br>
    <input type="text" name="username" id="username" placeholder="Username"><br>
    <label for="pWord">Password:</label><br>
    <input type="password" name="password" id="password" placeholder="Password"><br><br>
    <input type="submit" value="Login">
  </form>
  {% endblock %}