{% extends 'base.html' %}
{% load static %}

{% block body %}

<h1>Confirm Database Entry?</h1>
{{ input_string }}
<form method="POST">
    {% csrf_token %}
    {% if spacy_string %}
        <br>
        <br>
        {% for key, value in spacy_string.items %}
        <li>{{key}}: <input name={{key}} type="text" value='{{value}}'></input></li>
{% endfor %}
<input name=confirm class="btn btn-dark my-3" type=submit value="Yes" />
<input name=cancel class="btn btn-dark my-4" type=submit value="No, try again" />
</form>
{% endif %}


{% endblock %}