{% load static %}
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.179.0.min.js"></script>
<link rel="stylesheet"  type="text/css" href="{% static "css/styles.css" %}">
<head>
  <link rel=icon href="{% static 'logo/cslogo-16.ico' %}" sizes=16x16 type=image/png>
    <link rel=icon href="{% static 'logo/cslogo-32.ico' %}" sizes=32x32 type=image/png>
</head>
<div class="main">
  <h1 class="intro">Trendall Website</h1>


{% block content %}

{% endblock %}
{% load static %}
<br><br>
<h2 class="foot"> Basic webpage creates by JGleeson </h2>
