{% extends 'base.html'%}
{% load static %}


{% block head %}

<h1 class="intro">Contact Us</h1>
<div class="main">
    <div class="topnav">
      <a href="/">Home</a>
      <a href="search">Search Page</a>
      <a class="active" href="contact">Contact</a>
      <a href="about">About</a>
      <a href="admin">Login</a>
      <form method=POST action="{% url 'searchResult' %}" >
        {% csrf_token %}
        <input autocomplete="off" type="text" placeholder="Search Database" name="searchDatabase">
        <button type="submit">Search</button>
      </form>
    </div>
{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<div>
<p>For issues regarding the database itself, inaccuracies or edits, please contact</p>
<a href="mailto:TrendallDatabase@gmail.com">TrendallDatabase@gmail.com</a>
</div>
{% endblock %}
