{% extends 'base.html' %}
{% block head %}
<h1 class="intro">Search Results</h1>
<div class="main">
    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="search">Search Page</a>
      <a  href="contact">Contact</a>
      <a href="about">About</a>
      <a href="admin">Login</a>
      <a href="upload">Upload</a>
      <form method=POST action="{% url 'searchResult' %}" >
        {% csrf_token %}
        <input autocomplete="off" type="text" placeholder="Search Database" name="searchDatabase">
        <button type="submit">Search</button>
      </form>
    </div>
{% endblock %}


{% block content %}

{% if nameSet %}
    <strong>What we found for</strong>
    {% for key, value in nameSet.items %}
        {% if value%}
            <strong> <br>{{ key }} ~ {{ value }}, </strong>
        {% endif %}   
     {% endfor %}
{% endif %}
<br>
<br>

{% if sortedVases %}
    {% for item in sortedVases %}
    <a href="result/{{item.vaseId}}">{{ item }}</a>
    <br>
    {% endfor %}
{% endif %}

{% if databaseSearch %}
    <strong>What we found for "{{searchedTerm}}"</strong>
    {% for item in databaseSearch %}
    <p>{{ item }}  </p>
    <br>
    {% endfor %}
{% endif %}

{% endblock %}
